@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
}
header{ background-color: #263248;
        border-radius: 8px;
        display:flex;
    }
 header h1 a{
    color: #fff;
 }
 header h1 a:hover{
    text-decoration: underline;   
 }   
 #logo{
    padding:10px;
 }    
nav ul li{
    display:inline;
    padding-left:10px;
    padding-right:10px;
    border-left:1px solid #7E8AA2;
}
nav li:first-child{
    border-left:none;
}
nav li a:hover{
    color:#7E8AA2;
}
